@font-face {
  font-family: 'Montserrat';
  src: local('Roboto Light'), local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/Montserrat/montserrat-400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Roboto'), local('Open Sans'), local('OpenSans'), url('../fonts/Montserrat/montserrat-500.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Roboto Semibold'), local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/Montserrat/montserrat-600.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
