html {
	font-size: 14px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif !important;
	-webkit-tap-highlight-color: transparent;
	background-color: #FFFFFF;
  color: #212529;
}

body, html {
	position: relative;
}

* {
	margin: 0;
	padding: 0;
	border-collapse: inherit;
  box-sizing: border-box;
}

*:not(body) {
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
}


*, *:before, *:after {
	box-sizing: inherit;
}

:focus,
:active {
	outline: none;
}

[hidden] {
	display: none !important;
}

ul, ol, menu {
	list-style: none;
}

a {
  color: inherit;
	text-decoration: none;
}

button {
	font-family: inherit;
}

textarea {
  font-family: inherit;
}

input {
	outline: none;
	border: none;
}